

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  <meta name="viewport" content="width=divice-width,initial-scale=1">
  <meta name="keywords" content="燦坤,主動式降噪,耳罩,APPLE,空間音訊,線上預約,AirPodsMax," />
  <meta name="description" content="AirPods Max 全新登場。具備「主動式降噪」、「適應性等化」及更多功能，現在就來燦坤線上預約。" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link href="https://events.tk3c.com/events_net/events_net/preorder/#" rel="image_src" />

  <!--FB meta-->
  <meta property="fb:admins" content="" />
  <meta property="fb:app_id" content="606825782724291" />
  <meta property="og:site_name" content="燦坤線上購物" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="燦坤線上 ｜ AirPods Max 預約" />
  <meta property="og:description" content="AirPods Max 全新登場。具備「主動式降噪」、「適應性等化」及更多功能，現在就來燦坤線上預約。" />
  <meta property="og:image" content="https://events.tk3c.com/events_net/events_net/preorder/#" />
  <meta property="og:url" content="https://events.tk3c.com/events_net/events_net/preorder/index.htmll" />

  <title><%= title %></title>
 
  <link href="../css/airpodsmax/20210112.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/sticky-sidebar@3.3.1/dist/sticky-sidebar.min.js"></script>

  <style>
   .addpurchase .buy-active {border: 1px solid red;}
   .addpurchase .buy-active b {background: red;border:none;}
   .addpurchase .buy-active b a {color: #fff;}
  </style>    
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>         
		<script type="text/javascript" src="http://events.tk3c.com/events_net/js/gears_init.js"></script>
    <script type="text/javascript" src="https://www.tk3c.com/js/jquery.countdown.pack.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
    <script src="http://events.tk3c.com/events_net/js/jquery.appear.js" type="text/javascript"></script>
    <script src="http://events.tk3c.com/events_net/js/imgjs.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/vue-countdown.js"></script>
    <script src="../js/vue-awesome-swiper.js"></script>
    <script src="../js/httpVueLoader.js"></script>
    <script src="http://events.tk3c.com/events_net/js/commonUtil.js"></script>
    <script src="http://events.tk3c.com/events_net/js/eventUtil.js"></script>
   


    
    
<!-- go top-->
<script type="text/javascript">
$(function(){
    $("#gotop").click(function(){
        jQuery("html,body").animate({
            scrollTop:0
        },1000);
    });
    $(window).scroll(function() {
        if ( $(this).scrollTop() > 300){
            $('#gotop').fadeIn("fast");
        } else {
            $('#gotop').stop().fadeOut("fast");
        }
    });
});
</script>


<!--選單固定效果-->


    
    <script>
      
         $.ajax({
            url: 'https://cdnjs.cloudflare.com/ajax/libs/jquery-scrolldepth/1.0.0/jquery.scrolldepth.min.js',
            type: "POST",           
            dataType: 'script',
            success: function () {                
                jQuery(function () {
                    jQuery.scrollDepth(
                        {
                            pixelDepth: false,
                            gtmOverride: true
                        });
                });
            }
        });        
    </script>

<title>

</title></head>
<body>
    





<form name="form1" method="post" action="/send" id="form1" >

<div id="TkecTop" style="height:45px;"></div>
<!--<div id="gotop" ><img src="../images/preorder/images/scroll-top.png" /></div>-->
<div class="fix_btn">
	<!-- The dropdown menu begins -->
	<div class="sample-menu-style dropdown-menu btn1">
		<span tabindex="0" onclick="return true">商品列表</span>
		<div tabindex="0" onclick="return true"></div>
		<ul>
            			
		</ul>
	</div>
	<!-- End of the dropdown menu -->
    
</div>
<div class="wrapper"> 
  	<!-- 
            <!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta name="viewport" content="width=divice-width,initial-scale=1">
  <meta name="keywords" content="燦坤,主動式降噪,耳罩,APPLE,空間音訊,線上預約,AirPodsMax," />
  <meta name="description" content="AirPods Max 全新登場。具備「主動式降噪」、「適應性等化」及更多功能，現在就來燦坤線上預約。" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link href="https://events.tk3c.com/events_net/events_net/preorder/#" rel="image_src" />


  <meta property="fb:admins" content="" />
  <meta property="fb:app_id" content="606825782724291" />
  <meta property="og:site_name" content="燦坤線上購物" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="燦坤線上 ｜ AirPods Max 預約" />
  <meta property="og:description" content="AirPods Max 全新登場。具備「主動式降噪」、「適應性等化」及更多功能，現在就來燦坤線上預約。" />
  <meta property="og:image" content="https://events.tk3c.com/events_net/events_net/preorder/#" />
  <meta property="og:url" content="https://events.tk3c.com/events_net/events_net/preorder/index.htmll" />

  <title>燦坤線上 ｜ AirPods Max 預約</title>

</head>
-->
<body>
  <div id="airpodsmax">
    <section class="addedfeatures">
      <div class="timerarea"></div>
      <ul class="embedarea">
        <li></li>
      </ul>
    </section>
    <section class="pd_preview">
      <div class="left_pd">
        <ul class="pd_main">
          <li><figure><img src="../images/product/spacegray/airpods-max-select-spacegray-202011.png"></figure></li>
        </ul>
        <h5>包裝盒內容</h5>
        <ul class="pd_inside">
          <li>
            <figure><img src="../images/product/spacegray/airpods-max-spacegray-witb.jpg"></figure>
            <p>AirPods Max</p>
          </li>
          <li>
            <figure><img src="../images/product/spacegray/airpods-max-smartcase-spacegray-witb.jpg"></figure>
            <p>聰穎耳機套</p>
          </li>
          <li>
            <figure><img src="../images/product/spacegray/airpods-max-lightning-usbc-witb.jpg"></figure>
            <p>Lightning 對 USB-C 連接線</p>
          </li>
        </ul>
      </div>
      <div class="right_pd" id="">
        <div class="wording">
          <h3>免額外付費鐫刻服務</h3>
          <h1>購買 AirPods Max</h1>
          <h5>每位顧客限購兩部。</h5>
        </div>
        <pickstyle :airpodmaxinfo="airpodmaxinfo" @modelindex="getIndex"></pickstyle>
        <pickcolor :colors="airpodmaxinfo.Colors[idx.modelidx]" @colorindex="getIndex" ></pickcolor>
        <specbox :specifications="airpodmaxinfo.Specifications[idx.modelidx]" @specidx="getIndex"></specbox>

        <div class="pikegift">
          <hr>
          <fieldset class="all_gift">
            <legend>贈品</legend>
            <ul>
              <li>
                <label>
                  <figure>
                    <img alt="" src="../images/apple_music__ff0xz76umvue_large.png">
                  </figure>
                  <dl>
                    <dt>加上鐫刻</dt>
                    <dd>表情符號、文字與數字混搭鐫刻，打造專屬於你的 AirPods Max。Apple 獨家提供。</dd>
                  </dl>
                </label>
              </li>
              <li>
                <label>
                  <figure>
                    <img alt="" src="../images/apple_music__ff0xz76umvue_large.png">
                  </figure>
                  <dl>
                    <dt>加上鐫刻</dt>
                    <dd>表情符號、文字與數字混搭鐫刻，打造專屬於你的 AirPods Max。Apple 獨家提供。</dd>
                  </dl>
                </label>
              </li>
              <li>
                <label>
                  <figure>
                    <img alt="" src="../images/apple_music__ff0xz76umvue_large.png">
                  </figure>
                  <dl>
                    <dt>加上鐫刻</dt>
                    <dd>表情符號、文字與數字混搭鐫刻，打造專屬於你的 AirPods Max。Apple 獨家提供。</dd>
                  </dl>
                </label>
              </li>
            </ul>
          </fieldset>
        </div>


        <div class="actarea">
          <fieldset class="all_register">
            <legend>身份驗證</legend>
              <ol class="txt_reds">
					    	<li>您所輸入的姓名、身份證字號、手機號碼等資訊，供於門市領取iPhone XI依據。</li>
					    	<li>限完成手機驗證動作，方可進行以下訂購流程。</li>
					    	<li>限本人攜帶有效證件(身分證或健保卡)確認與訂單姓名、身份證字號相同無誤後進行提貨流程，每人憑身分證限購一隻iPhone XII。</li>
					    </ol>
              <ul>
					    	<li>
                  <label class="must02">姓名：</label>
                  <input type="text"></li>
					    	<li>
					    		<label class="must02">電話：</label>
					    		<input type="text">
					    		<a id="LinkConfirm" class="confirm_btn" href="javascript:__doPostBack('LinkLConfirm','')">發送驗證碼</a>
					    	</li>
					    	<li>
					    		<label class="must02">驗證碼：</label>
					    		<input type="text">
					    		<div id="Linkcorrect" class="correct_icon">輸入正確</div>
					    	</li>
              </ul>
          </fieldset>
          <a class="actbtn" href="#" target="_blank">立即預約</a>
          <i class="inform">須使用搭載最新版本軟體的 AirPods Max，以及搭載最新版本 iOS 的 iPhone 與 iPod touch 機型；搭載最新版本 iPadOS 的 iPad 機型；搭載最新版本 watchOS 的 Apple Watch 錶款；搭載最新版本 macOS 的 Mac 機型；或搭載最新版本 tvOS 的 Apple TV 機型。</i>
        </div>
      </div>
    </section>
   


  </div>
  <button  type="submit">送出
  </button>
</body>

</form>
</body>
</html>
<script type="text/javascript">
  //let Enumerable = require('linq-js');

  var app = new Vue({
      el: '#airpodsmax',
      components: {
        'pickstyle':httpVueLoader('../js/vue_components/Pickstyle.vue'),
        'pickcolor':httpVueLoader('../js/vue_components/Pickcolor.vue'),
        'specbox': httpVueLoader('../js/vue_components/SpecBox.vue'),
          
      },
      created () {
         this.getModels();
      },
      computed () {
       
      },
      watch:{
        idx: {
           handler(index){
           let vm = this;
           
           for(var i = 0 ; i < Object.keys(vm.airpodmaxinfo.Productids[index.modelidx]).length ;i++){
               if(vm.airpodmaxinfo.Productids[index.modelidx][i].Color ===  vm.airpodmaxinfo.Colors[index.modelidx][index.coloridx] && 
                  vm.airpodmaxinfo.Productids[index.modelidx][i].Spec ===  vm.airpodmaxinfo.Specifications[index.modelidx][index.specidx]){
                  console.log(vm.airpodmaxinfo.Productids[index.modelidx][i].ProductId);
                  return
               }
           }
           },
           deep: true
        }
        
      },
        
      data: {
         menuSet: {},
         idx:{
          modelidx: 0,
          coloridx:0,
          specidx:0
         },
          airpodmaxinfo: {
              Models: null,
              Colors: null,
              Specifications:null,
              Productids:null
          }

      },
      methods: {
          getModels:function(){
            let vm = this;
            util.ajax.get('../api/ConvertModel').then(function (res) {
                  vm.airpodmaxinfo.Models = res.data.Models
                  vm.airpodmaxinfo.Colors = res.data.Colors
                  vm.airpodmaxinfo.Specifications = res.data.Specifications
                  vm.airpodmaxinfo.Productids = res.data.Productids
            });
          },
          getIndex:function(indextype,index){
             let vm =this;
             let indexx = parseInt(index);
             if(indextype === 'one'){
              vm.idx.modelidx = indexx;
              vm.idx.coloridx = 0;
              vm.idx.specidx = 0;
              $('input[name=dimensionColor][id=color' + vm.idx.coloridx + ']').prop("checked", true)
              $('input[name=dimensionspec][id=spec' + vm.idx.specidx + ']').prop("checked", true)
             }else if(indextype === 'two'){
              vm.idx.coloridx = indexx;
             }else if(indextype === 'three'){
              vm.idx.specidx = indexx;
             }
             
          }
      },
  })
</script>

